services:
  users-service:
    container_name: users-service
    build:
      context: ../../services
      dockerfile: Dockerfile
      args:
        SERVICE: users
    volumes:
      - ../../services/users:/app/users
      - ../../services/common:/app/common
    ports:
      - 8081:8080
    environment:
      DATABASE_URL: postgres://postgres:postgres@users-db/socmed_users?sslmode=disable
      RABBITMQ_URL: amqp://admin:admin@rabbitmq:5672/
      JWT_SECRET: secret
      HTTP_PORT: 8080
      ENVIRONMENT: prod
      LOG_LEVEL: info
    depends_on:
      users-db:
        condition: service_healthy
      users-migrate:
        condition: service_completed_successfully

  follow-service:
    container_name: follow-service
    build:
      context: ../../services
      dockerfile: Dockerfile
      args:
        SERVICE: follow
    volumes:
      - ../../services/follow:/app/follow
      - ../../services/common:/app/common
    ports:
      - 8082:8080
    environment:
      DATABASE_URL: postgres://postgres:postgres@follow-db/socmed_follow?sslmode=disable
      RABBITMQ_URL: amqp://admin:admin@rabbitmq:5672/
      JWT_SECRET: secret
      HTTP_PORT: 8080
      ENVIRONMENT: prod
      LOG_LEVEL: info
    depends_on:
      follow-db:
        condition: service_healthy
      follow-migrate:
        condition: service_completed_successfully

  posts-service:
    container_name: posts-service
    build:
      context: ../../services
      dockerfile: Dockerfile
      args:
        SERVICE: posts
    volumes:
      - ../../services/posts:/app/posts
      - ../../services/common:/app/common
    ports:
      - 8083:8080
    environment:
      DATABASE_URL: postgres://postgres:postgres@posts-db/socmed_posts?sslmode=disable
      RABBITMQ_URL: amqp://admin:admin@rabbitmq:5672/
      JWT_SECRET: secret
      HTTP_PORT: 8080
      ENVIRONMENT: prod
      LOG_LEVEL: info
    depends_on:
      posts-db:
        condition: service_healthy
      posts-migrate:
        condition: service_completed_successfully

  timeline-service:
    container_name: timeline-service
    build:
      context: ../../services
      dockerfile: Dockerfile
      args:
        SERVICE: timeline
    volumes:
      - ../../services/timeline:/app/timeline
      - ../../services/common:/app/common
    ports:
      - 8084:8080
    environment:
      DATABASE_URL: postgres://postgres:postgres@timeline-db/socmed_timeline?sslmode=disable
      RABBITMQ_URL: amqp://admin:admin@rabbitmq:5672/
      JWT_SECRET: secret
      HTTP_PORT: 8080
      ENVIRONMENT: prod
      LOG_LEVEL: info
    depends_on:
      posts-db:
        condition: service_healthy
      posts-migrate:
        condition: service_completed_successfully
