services:
  users-service:
    container_name: users-service
    build:
      context: ../../services/users
      dockerfile: Dockerfile.dev
    volumes:
      - ../../services/users:/app
    ports:
      - 8081:8080
    healthcheck:
      test: ["CMD-SHELL", "wget --spider -q http://localhost:8080/healthz || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 3
    environment:
      DATABASE_URL: postgres://postgres:postgres@users-db/socmed_users?sslmode=disable
      RABBITMQ_URL: amqp://admin:admin@rabbitmq:5672/
    depends_on:
      users-db:
        condition: service_healthy
      users-migrate:
        condition: service_completed_successfully

  follow-service:
    container_name: follow-service
    build:
      context: ../../services/follow
      dockerfile: Dockerfile.dev
    volumes:
      - ../../services/follow:/app
    ports:
      - 8082:8080
    healthcheck:
      test: ["CMD-SHELL", "wget --spider -q http://localhost:8080/healthz || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 3
    environment:
      DATABASE_URL: postgres://postgres:postgres@follow-db/socmed_follow?sslmode=disable
      RABBITMQ_URL: amqp://admin:admin@rabbitmq:5672/
    depends_on:
      follow-db:
        condition: service_healthy
      follow-migrate:
        condition: service_completed_successfully
